<!DOCTYPE html>

<html>
<head>
    <!-- Materialize- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- JQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Materialize- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="hide-on-med-and-down">
                <li id="navlink">@Html.ActionLink("Their Story", "Index", "Story")</li>
                <li id="navlink">@Html.ActionLink("Wedding Plans", "Index", "Plan")</li>
                <li id="brand">@Html.ActionLink("Andrew & Kamarae", "Index", "Home")</li>
                <li id="navlink">@Html.ActionLink("Photos", "Index", "Photo")</li>
                <li id="navlink">@Html.ActionLink("Registry", "Index", "Registry")</li>
                <li id="navlink">@Html.ActionLink("Guestbook", "Index", "Guest")</li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li id="brand">@Html.ActionLink("Andrew & Kamarae", "Index", "Home")</li>
                <li id="navlink">@Html.ActionLink("Their Story", "Index", "Story")</li>
                <li id="navlink">@Html.ActionLink("Wedding Plans", "Index", "Plan")</li>
                <li id="navlink">@Html.ActionLink("Photos", "Index", "Photo")</li>
                <li id="navlink">@Html.ActionLink("Registry", "Index", "Registry")</li>
                <li id="navlink">@Html.ActionLink("Guestbook", "Index", "Guest")</li>
            </ul>
        </div>
    </nav>
    <div class="render-body">
        @RenderBody()
    </div>
</body>
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    })
</script>
</html>
